<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
</head>
<body>
    <h1><%=day %> List</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur tenetur iste neque ratione corporis rerum quae culpa architecto quis quia quaerat, doloremque facere dignissimos. Optio facere dolorum harum minima! </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci deleniti odit mollitia quidem labore. Dolores enim, odio hic nihil facilis accusamus ipsa optio fugiat minima omnis blanditiis deserunt aperiam in.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt possimus inventore iure reiciendis voluptate enim explicabo sapiente, quaerat ex sunt deserunt placeat harum aut ducimus nulla. Excepturi beatae rerum modi?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae reiciendis enim facilis molestias laboriosam voluptatum dignissimos cumque perferendis pariatur excepturi nemo molestiae rem, explicabo fugiat dolores mollitia, repellendus obcaecati ut?</p>
</body>
</html>

